@model PainClinic.Models.ViewModels.PatientRegistrationViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="form-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyPainJournal.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyPainJournal.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyPainJournal.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyPainJournal.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyPainJournal.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyPainJournal.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyPainJournal.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyPainJournal.Zipcode)
        </dd>
    </dl>
    
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Patient.PatientId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
