@model PainClinic.Models.ViewModels.PatientRegistrationViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient Information</h4>
    <hr />
    <dl class="form-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>*@
        <b>NAME</b>
        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>*@
        <b>ADDRESS</b>
        <dd>
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>*@
        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Address.Zipcode)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Address.Zipcode)
        </dd>
        <b>Current Balance</b>
        <dd>
            @Html.DisplayFor(model => model.Patient.PatientBalance)
        </dd>
        <b>Prescription Requested</b>
        <dt>
            @Html.CheckBoxFor(m => m.Patient.IsRxRequested)
        </dt>
        <b>Prescription Filled</b>
        <dt>
            @Html.CheckBoxFor(m => m.Patient.IsRxFilled)
        </dt>

    </dl>
    
    <p>
        @*@Html.ActionLink("Edit", "Edit", "Patients", new { id = Model.Patient.PatientId }) |*@
        @*@Html.ActionLink("Directions", "GetClinicDirections", "PatientAcctMgmtViewModel", new { id = Model.Patient.PatientId }) |*@
        @*@Html.ActionLink("Pay Balance", "PayBalance", "PatientAcctMgmtViewModel", new { id = Model.Patient.PatientId }, null) |*@
        @Html.ActionLink("Back", "Index", "Home")
    </p>
</div>
