@model PainClinic.Models.ViewModels.PatientRegistrationViewModel

@{
<a href="~/Views/Patients/Index.cshtml">~/Views/Patients/Index.cshtml</a>
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.Zipcode)
        </th>
        
    </tr>

@foreach (var item in Model.Patients) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addresses.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addresses.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addresses.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addresses.Zipcode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientId })
        </td>
    </tr>
}

</table>
