@model PainClinic.Models.ViewModels.PatientAcctMgmtViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="form-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>

        <dt>
            @Html.CheckBoxFor(m => m.Patient.IsRxRequested)
        </dt>

       

        @*<dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.Zipcode)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Address.Zipcode)
        </dd>*@
    </dl>
    
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Patient.PatientId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
