
@{
    ViewBag.Title = "Search";
}


<center>
    <h1>Placeholder Title</h1>
    <h2>Search Daily Logs</h2>
    <hr />
    <input type="text" id="txtsearch" placeholder=" Enter search here...." />
    <hr/>
    <table border="1">
        <tr>
            <th>Pain Rating</th>
            <th>Pain Location</th>
            <th>Amount of Sleep</th>
            <th>Activity Level</th>
            <th>Date</th>
        </tr>

        @foreach (var item in ViewBag.dailyLogList)
        {
    <tr>
        <td>@item.PainRating</td>
        <td>@item.PainLocation</td>
        <td>@item.AmountOfSleep</td>
        <td>@item.ActivityLevel</td>
        <td>@item.SearchDate</td>
    </tr>
        }
    </table>
</center>