<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light1", // "light2", "dark1", "dark2"
                animationEnabled: true, // change to true
                title: {
                    text: "Pain Ratings/Average Past 30 Days"
                },
                data: [
                    {
                        // Change type to "bar", "area", "spline", "pie",etc.
                        type: "column",
                        dataPoints: [
                            { label: "1", y: @ViewBag.ratingOne },
                            { label: "2", y: @ViewBag.ratingTwo },
                            { label: "3", y: @ViewBag.ratingThree },
                            { label: "4", y: @ViewBag.ratingFour },
                            { label: "5", y: @ViewBag.ratingFive }
                        ]
                    }
                ]
            });
            chart.render();

        }
    </script>

    <script type="text/javascript">
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light1", // "light2", "dark1", "dark2"
                animationEnabled: true, // change to true
                title: {
                    text: "Pain Ratings on Average"
                },
                data: [
                    {
                        // Change type to "bar", "area", "spline", "pie",etc.
                        type: "column",
                        dataPoints: [
                            { label: "1", y: @ViewBag.ratingOne },
                            { label: "2", y: @ViewBag.ratingTwo },
                            { label: "3", y: @ViewBag.ratingThree },
                            { label: "4", y: @ViewBag.ratingFour },
                            { label: "5", y: @ViewBag.ratingFive }
                        ]
                    }
                ]
            });
            chart.render();

        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>