@model IEnumerable<PainClinic.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>List of Patients</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Daily Pain Logs", "DailyLogList", "PatientDataViewModel", new { id = item.PatientId }, null) |
            @Html.ActionLink("Prescription Request", "PrescriptionRequest", new { id=item.PatientId })
        </td>
    </tr>
}

</table>
